@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// === libs ===
@import "libs/index";

// === fonts ===
@import "fonts";
@import "iconfonts";

// === Base ===
@import "base/index";

// === Components ===
@import "components/index";

// === Pages ===
@import "pages/index";

.service-page {
	&__filter {
	}

	&__content {
		@include adaptiv-value("padding-top", 26, 20, 0);
	}

	&__item {
		display: none;
	}

	&__request {
	}
}

.filter {
	background-color: $LGray2;
	@include adaptiv-value("padding-top", 27, 20, 0);
	@include adaptiv-value("padding-bottom", 20, 10, 0);

	&__container {
	}

	&__car {
		display: flex;
		@include adaptiv-value("margin-bottom", 34, 16, 0);
		
		@media screen and (max-width: 575px) {
			flex-direction: column;
		}
	}

	&__mark {
		flex: 1 1 auto;
		margin-right: 80px;
		@include adaptiv-value("margin-right", 80, 20, 0);

		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width: 575px) {
			margin: 0px 0px 23px 0px;
		}
	}

	&__label {
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		position: relative;
		@include adaptiv-value("margin-bottom", 8, 2, 0);
		padding-left: 28px;

		@media screen and (min-width: $layoutDesktop + "px") {
			font-size: calc(6px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(16 / 12);
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	&__label--car {
		&::before {
			width: 20px;
			height: 14px;
			background: url(../img/icons/service/car.svg) no-repeat center/cover;
		}
	}

	&__label--p0 {
		padding: 0;
	}

	&__select {
	}

	&__service {
	}

	&__label--service {
		@include adaptiv-value("margin-bottom", 14, 8, 0);

		&::before {
			width: 20px;
			height: 20px;
			background: url(../img/icons/service/tools.svg) no-repeat center/cover;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		@include adaptiv-value("margin-right", -10, -5, 0);
		@include adaptiv-value("margin-left", -10, -5, 0);
		padding-left: 29px;
		overflow: hidden;
	}

	&__item {
		font-size: 12px;
		line-height: 16px;
		text-decoration: none;
		@include adaptiv-value("padding-top", 10, 3, 0);
		@include adaptiv-value("padding-right", 10, 5, 0);
		@include adaptiv-value("padding-bottom", 10, 3, 0);
		@include adaptiv-value("padding-left", 10, 5, 0);
		transition: 0.3s ease all 0s;

		@media screen and (min-width: $layoutDesktop + "px") {
			font-size: calc(6px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(16 / 12);
		}

		&._active {
			.filter__item-wrapper {
				background-color: $Red;
				color: $White;
				border-color: $Red;
			}
		}
	}

	&__item-wrapper {
		background-color: $LGray3;
		border: 1px solid $Black;
		border-radius: 4px;
		transition: 0.3s ease all 0s;
		@include adaptiv-value("padding-top", 8, 5, 0);
		@include adaptiv-value("padding-right", 40, 10, 0);
		@include adaptiv-value("padding-bottom", 8, 5, 0);
		@include adaptiv-value("padding-left", 40, 10, 0);
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiv-value("margin-top", 18, 13, 0);
	}

	&__btn {
		text-decoration-style: dotted;
		font-size: 12px;
		line-height: 16px;
		display: flex;
		align-items: center;

		@media screen and (min-width: $layoutDesktop + "px") {
			font-size: calc(6px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(16 / 12);
		}

		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			margin-right: 9px;
			transition: 0.3s ease all 0s;
		}
	}

	&__all {
		&::before {
			background: $Red url(../img/icons/service/chevron.svg) no-repeat center;
		}

		&._active {
			&::before {
				transform: rotate(-180deg);
			}
		}
	}

	&__reset {
		&::before {
			background: $Red url(../img/icons/service/reset.svg) no-repeat center;
		}
	}
}

.filter-select {
	&__title {
		border-bottom: 4px solid $Red;
		padding: 10px 0;
		background-color: transparent;
		cursor: pointer;

		&._active {
			.filter-select__value {
				&::before {
					transform: rotate(-180deg);
				}
			}
		}
	}

	&__value {
		font-weight: 700;
		font-size: calc(14px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: calc(25 / 18);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;

		&::before {
			content: "";
			display: inline-block;
			width: 12px;
			height: 7px;
			background: url(../img/icons/service/chevron-gray.svg) no-repeat center/100%;
			transition: 0.3s ease all 0s;

			span {
				height: 1.4em;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}
		}
	}

	&__options {
		padding: 27px 0px 75px 0px;
		position: absolute;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		background-color: $LGray2;
		z-index: 1;
		transition: 0.3s ease all 0s;

		&._active {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		@media screen and (max-width: 450px) {
			margin: 0 -6px;
		}
	}

	&__item {
		flex: 0 0 25%;
		padding: 20px 15px;
		display: flex;

		@media screen and (max-width: 991px) {
			flex: 0 0 33.333%;
		}
		@media screen and (max-width: 768px) {
			flex: 0 0 50%;
		}
		@media screen and (max-width: 450px) {
			padding: 20px 6px;
		}
	}

	&__character {
		font-weight: 700;
		font-size: 36px;
		left: 49px;
		color: $Red;
		padding-right: 26px;

		@media screen and (max-width: 450px) {
			padding-right: 15px;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
	}

	&__model {
		display: inline-block;
		text-decoration: none;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 10px;
		color: $Black;
	}

	&--model {
		.filter-select__item {
			flex: 0 0 33.333%;
			padding: 0 15px;

			@media screen and (max-width: 575px) {
				flex: 0 0 50%;
			}
		}
	}
}

.service-request {
	&__container {
	}

	&__row {
		background-color: $Black;
		color: $Gray2;
		padding: 28px 15px 12px;
		position: relative;

		@media screen and (max-width: 991px) {
			flex-direction: column;
			@include adaptiv-value("padding-left", 200, 15, 1);
			@include adaptiv-value("padding-right", 200, 15, 1);
		}
		@media screen and (max-width: 767px) {
			margin: 0 -15px;
		}

		&::before {
			content: "";
			display: block;
			width: 129px;
			height: 100%;
			background: url(../img/service-request-bg.svg) no-repeat center/cover;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__content {
		flex: 0 0 40%;
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		padding-right: 20px;
		position: relative;

		@media screen and (min-width: $layoutDesktop + "px") {
			font-size: calc(6px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(16 / 12);
		}
		@media screen and (max-width: 991px) {
			text-align: center;
			flex: 1 1 auto;
			padding: 0;
		}
	}

	&__content-wrapper {
		max-width: 341px;

		@media screen and (min-width: $layoutDesktop + "px") {
			max-width: 77%;
		}
		@media screen and (max-width: 991px) {
			max-width: 100%;
		}
	}

	&__title {
		text-transform: uppercase;
		color: $White;
		@include adaptiv-value("margin-bottom", 15, 1, 0);
	}

	&__text {
		@include adaptiv-value("padding-bottom", 35, 24, 0);

		@media screen and (max-width: 991px) {
			padding: 0;
		}
	}

	&__contact {
		position: relative;

		@media screen and (max-width: 991px) {
			display: flex;
			align-items: center;
		}
		@media screen and (max-width: 575px) {
			flex-direction: column;
		}
	}

	&__label {
		@media screen and (max-width: 991px) {
			margin-right: 18px;
		}
		@media screen and (max-width: 575px) {
			margin: 0px 0px 13px 0px;
		}
	}

	&__link {
		font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: calc(45 / 36);
		color: $White;
		font-weight: 400;
		text-decoration: none;
		display: inline-block;
		margin-bottom: 1px;
		white-space: nowrap;

		@media screen and (max-width: 991px) {
			margin: 0 19px 0 0;
		}
		@media screen and (max-width: 575px) {
			margin: 0px 0px 6px 0px;
		}

		span {
			font-weight: 300;
		}
	}

	&__descr {
	}

	&__form {
		flex: 1 1 auto;

		.form {
			&__body {
				display: flex;
				flex-wrap: wrap;
				@include adaptiv-value("margin-left", -15, -6, 0);
				@include adaptiv-value("margin-right", -15, -6, 0);
			}

			&__item {
				flex: 0 0 50%;
				padding: 9px 15px;
				@include adaptiv-value("padding-left", 15, 6, 0);
				@include adaptiv-value("padding-right", 15, 6, 0);
				margin-bottom: 6px;

				@media screen and (max-width: 575px) {
					flex: 0 0 100%;
				}

				&--full {
					flex: 0 0 100%;
				}

				&--center {
					display: flex;
					justify-content: center;
				}
			}

			&__label {
				font-size: 12px;
				line-height: 16px;
				color: $DGray;
				margin-bottom: 6px;
				padding-left: 4px;

				@media screen and (min-width: $layoutDesktop + "px") {
					font-size: calc(6px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
					line-height: calc(16 / 12);
				}
			}

			&__input {
				border: 1px solid #8a8a8a;
				border-radius: 3px;
				background-color: transparent;
				color: $White;
				font-weight: 300;
				font-size: 14px;
				line-height: 19px;

				@media screen and (min-width: $layoutDesktop + "px") {
					font-size: calc(6px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
					line-height: calc(19 / 14);
				}
			}

			&__button {
				i {
					margin-right: 9px;
				}

				&::before {
					display: none;
				}
			}
		}

		.select {
			&__title {
				background-color: transparent;
				border-color: $DGray;
				color: $White;
				font-weight: 300;
			}

			&__options {
				font-weight: 300;
			}
		}
	}
}
