.title {
    &-h1 {
        font-weight: 700;
        font-size: 58px;
        line-height: 79px;

        @media screen and (max-width: $layoutDesktop + "px") {
            font-size: calc(24px + 34 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(79 / 58);
        }
    }
    &-h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 35px;

        @media screen and (max-width: $layoutDesktop + "px") {
            font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(35 / 26);
        }
    }
}

h2 {
    margin-bottom: 1.2em;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;

    @media screen and (max-width: $layoutDesktop + "px") {
        font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
        line-height: calc(35 / 26);
    }
}

h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 11px;

    @media screen and (max-width: $layoutDesktop + 'px') {
        font-size: calc(16px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
        line-height: calc(30 / 22);
    }
}
