.breadcrumbs {
	padding: 30px 0;
	@media screen and (max-width: 991px) {
		display: none;
	}

	&__items {
		display: flex;
		align-items: center;
		margin-bottom: 0.6em;
	}

	&__item {
		@media screen and (max-width: $layoutDesktop + 'px') {
			font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(16 / 12);
		}
	}

	&__link {
		color: $Black;
		text-decoration: none;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 49px;
		text-transform: uppercase;

		@media screen and (max-width: $layoutDesktop + 'px') {
			font-size: calc(20px + 16 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(49 / 36);
		}
	}
}