.select {
    position: relative;

    &__item {
        position: relative;
    }

    &__title {
        color: #000;
        border: 1px solid #d9d9d9;
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
    }

    &__value {
        display: flex;
        font-size: 14px;
        height: 36px;
        padding: 8px 10px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        &::before {
            content: "";
            display: inline-block;
            transition: all 0.3s ease 0s;
            width: 12px;
            height: 7px;
            background: url("../img/icons/service/chevron.svg") center / 100% no-repeat;
        }

        span {
            height: 1.4em;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    &__options {
        color: $White;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        border-radius: 0 0 4px 4px;
        min-width: 100%;
        background-color: $Black;
        border: 1px solid $DGray;
        border-top: 0;
        font-size: 14px;
        padding: 0px 0px 5px 0px;
    }

    &__option {
        cursor: pointer;
        padding: 8px 10px;
        margin: 0px 0px 0px 0px;
    }

    &._active {
        z-index: 5;

        .select__value::before {
            transform: rotate(-180deg);
        }

        .select__options {
            display: block;
        }
    }
}
