// === Sizes ===
$size-container: 1180px;
$layoutDesktop: 1920;
$layoutMobile: 320;
$size-header-height: 133px;
$size-header-height-md: 66px;
$size-header-height-mobile: 50px;

// === Font ===
$font: "Open Sans";
$fontWeight: 400;
$fontSize: 18px;
$lineHeight: 25px;
$fontColor: #373738;

// === Color ===
$White: #fff;
$LGray: #f3f3f3;
$DGray: #8A8A8A;
$Black: #373738;
$Red: #e42a2c;