// === Sizes ===
$size-container: 1180;
$layoutDesktop: 1920;
$layoutMobile: 320;
$size-header-height: 133px;
$size-header-height-md: 100px;
$size-header-height-sm: 80px;
$size-header-height-mobile: 50px;

// === Font ===
$font: "Open Sans";
$fontWeight: 700;
$fontSize: 18px;
$lineHeight: 25px;
$fontColor: #373738;

// === Color ===
$White: #fff;
$Gray: #bebebe;
$Gray2: #b6b6b6;
$LGray: #f3f3f3;
$LGray2: #f0f0f0;
$LGray3: #f8f8f8;
$DGray: #8a8a8a;
$Black: #373738;
$Red: #e42a2c;
