.map {
	&__wrapper {
		position: relative;
		
		iframe {
			@media screen and (max-width: 1200px) {
				height: 440px;
			}
		}
	}

	&__description {
		position: absolute;
		top: 48.6%;
		left: 31.7%;
		transform: translate(-50%, -50%);
		background-color: rgba($color: $White, $alpha: 0.9);
		padding: 25px 50px 50px;
		max-width: 442px;

		@media screen and (min-width: 2200px) {
			max-width: 579px;
			padding: 46px 50px 50px;
			top: 34.6%;
			left: 25.3%;
		}
		@media screen and (max-width: 1200px) {
			left: 50px;
			top: 50%;
			transform: translate(0, -50%);
		}
		@media screen and (max-width: 991px) {
			padding: 15px 20px 30px;
			max-width: 313px;
		}
		@media screen and (max-width: 575px) {
			position: inherit;
			transform: translate(0);
			left: auto;
			top: auto;
			padding-top: 40px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 49px;
		text-transform: uppercase;
		margin-bottom: 35px;

		@media screen and (min-width: 2200px) {
			font-size: 48px;
			line-height: 65px;
			margin-bottom: 15px;
		}
		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(24px + 12 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(49 / 36);
		}
		@media screen and (max-width: 1200px) {
			margin-bottom: 13px;
		}
	}

	&__details {
		padding-left: 33px;
		position: relative;

		@media screen and (max-width: 991px) {
			padding-left: 22px;
		}

		&::before {
			content: "";
			display: block;
			width: 6px;
			height: 100%;
			background-color: $Red;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);

			@media screen and (max-width: 991px) {
				width: 4px;
			}
		}
	}

	&__contact {
		display: flex;
		align-items: center;
	}

	&__contact--address {
		margin-bottom: 31px;

		@media screen and (min-width: 2200px) {
			margin-bottom: 26px;
		}
		@media screen and (max-width: 1200px) {
			margin-bottom: 11px;
		}
	}

	&__label {
		margin-right: 3px;

		@media screen and (min-width: 2200px) {
			line-height: 33px;
		}
	}

	&__link {
		color: $Black;
		text-decoration: none;
	}

	&__schedule {
		margin-top: 16px;

		.schedule__worktime-wrapper {
			display: block;
			margin: 0;
		}
	}

	iframe {
		vertical-align: middle;

		@media screen and (min-width: 2200px) {
			height: 811px;
		}
	}

	&--contacts {
		.map__wrapper {
			@media screen and (max-width: 575px) {
				display: flex;
				flex-direction: column-reverse;
			}
		}

		.map__description {
			@media screen and (max-width: 575px) {
				padding: 20px 15px;
			}
		}
	}

	&__support {
		padding: 35px 15px;
		display: flex;
		align-items: center;

		@media screen and (max-width: 575px) {
			flex-direction: column;
			background-color: $LGray2;
		}

		.schedule__support-wrapper {
			margin: 0;
			display: flex;
			align-items: center;

			@media screen and (max-width: 767px) {
				flex-direction: column;
				align-items: flex-start;
				padding-right: 20px;
			}
			@media screen and (max-width: 575px) {
				padding: 0;
				align-items: center;
			}
		}

		.schedule__support {
			max-width: 100%;
			margin: 0;

			@media screen and (max-width: 575px) {
				margin-bottom: 13px;
			}
		}

		.schedule__phone {
			margin: 0px 30px 0px 26px;

			@media screen and (max-width: 767px) {
				margin: 0;
			}
			@media screen and (max-width: 575px) {
				margin-bottom: 25px;
				position: relative;
				display: inline-flex;
				align-items: center;

				&::after {
					content: "";
					display: block;
					width: 32px;
					height: 32px;
					background: url(../img/icons/phone.svg) no-repeat center/cover;
					margin-left: 7px;
				}
			}
		}
	}
}
