.payment {
	@media screen and (min-width: 651px) {
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: 575px) {
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: 500px) {
		display: block;
	}

	&__label {
		max-width: 127px;
		font-size: 12px;
		line-height: 16px;
		margin-right: 18px;

		@media screen and (max-width: 991px) {
			margin-right: 25px;
		}
		@media screen and (max-width: 651px) {
			margin: 0 0 4px 0;
		}
		@media screen and (max-width: 575px) {
			margin: 0px 15px 0 0px;
		}
		@media screen and (max-width: 500px) {
			margin: 0 0 4px 0;
		}
	}

	&__list {
		display: flex;

		@media screen and (max-width: 500px) {
			justify-content: space-between;
		}
	}

	&__item {
	}

	&__image {
		border-radius: 4px;
		border: 1px solid $LGray;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 61px;
		height: 42px;
		margin-right: 25px;

		@media screen and (max-width: 991px) {
			margin-right: -4px;
			transform: scale(0.66);
			transform-origin: 0;
		}
		@media screen and (max-width: 500px) {
			transform: scale(0.57);
			margin-right: -10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}