.schedule {
	position: relative;

	@media screen and (max-width: 860px) {
		padding-bottom: 30px;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		display: block;

		@media screen and (max-width: 575px) {
			display: none;
		}
	}
	&::before {
		left: 0;
		width: 100%;
		max-width: 578px;
		height: 465px;
		background: url(../img/schedule/bg-1.png) no-repeat center/cover;

		@media screen and (max-width: 1200px) {
			max-width: 367px;
			height: 308px;
		}
		@media screen and (max-width: 860px) {
			max-width: 276px;
			height: 227px;
		}
	}
	&::after {
		right: 0;
		width: 648px;
		height: 100%;
		background: url(../img/schedule/bg-2.svg) no-repeat center/cover;

		@media screen and (max-width: 1200px) {
			width: 392px;
		}
	}

	&__container {
		@media screen and (min-width: 992px) {
			padding-left: 215px;
		}
		@media screen and (max-width: 1500px) {
			padding-left: 250px;
		}
		@media screen and (max-width: 1400px) {
			padding-left: 300px;
		}
		@media screen and (max-width: 1300px) {
			padding-left: 360px;
		}
		@media screen and (max-width: 1200px) {
			padding-left: 300px;
		}
		@media screen and (max-width: 991px) {
			padding-left: 230px;
		}
		@media screen and (max-width: 575px) {
			padding-left: 15px;
		}
	}

	&__content {
		padding: 27px 0 45px 15px;
		background-color: rgba($White, 0.7);
		position: relative;
		z-index: 1;

		@media screen and (max-width: 1200px) {
			padding: 22px 0px 45px 15px;
		}
		@media screen and (max-width: 860px) {
			padding: 15px 0px 21px 15px;
		}
		@media screen and (max-width: 575px) {
			padding: 15px 0px 18px 0;
		}
	}

	&__row {
		justify-content: space-between;
	}

	&__left {
		flex: 0 0 64%;
		padding-right: 15px;

		@media screen and (max-width: 991px) {
			flex: 0 0 62%;
		}
		@media screen and (max-width: 860px) {
			flex: 0 0 100%;
			padding-right: 0;
		}
	}

	&__option {
		font-weight: 700;
		margin-bottom: 26px;
		line-height: 25px;
		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (max-width: $layoutDesktop + "px") {
			line-height: calc(25 / 18);
		}
		@media screen and (max-width: 1200px) {
			margin-bottom: 11px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 15px;
		}

		&::before {
			@media screen and (max-width: 767px) {
				margin-top: 5px;
			}
		}
	}

	&__right {
		flex: 0 0 32%;

		@media screen and (max-width: 1200px) {
			flex: 0 0 36%;
		}
		@media screen and (max-width: 991px) {
			flex: 0 0 38%;
		}
		@media screen and (max-width: 860px) {
			flex: 0 0 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 26px;
		line-height: 35px;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 14px;

		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(35 / 26);
		}
		@media screen and (max-width: 1200px) {
			margin-bottom: 9px;
		}
	}

	&__worktime-wrapper {
		@media screen and (max-width: 860px) {
			display: flex;
			margin-bottom: 17px;
		}
		@media screen and (max-width: 575px) {
			flex-direction: column;
			margin: 0;
		}
	}

	&__worktime {
		margin-bottom: 15px;
		display: flex;

		@media screen and (max-width: 1200px) {
			margin-bottom: 11px;
		}
		@media screen and (max-width: 860px) {
			margin: 0px 28px 0px 0px;
		}
		@media screen and (max-width: 767px) {
			margin-right: 15px;
		}
		@media screen and (max-width: 575px) {
			margin: 0px 0px 11px 0px;
		}
	}

	&__worktime-day {
	}

	&__worktime-clock {
	}

	&__support-wrapper {
		@media screen and (max-width: 860px) {
			display: flex;
			align-items: center;
			margin-bottom: 14px;
		}
		@media screen and (max-width: 575px) {
			flex-direction: column;
		}
	}

	&__support {
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 6px;
		max-width: 203px;
		

		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(12px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(22 / 16);
		}
		@media screen and (max-width: 860px) {
			max-width: 100%;
			margin: 0px 9px 0px 0px;
		}
		@media screen and (max-width: 575px) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__phone {
		font-weight: 300;
		font-size: 26px;
		line-height: 35px;
		color: $Black;
		white-space: nowrap;
		margin-bottom: 23px;
		display: block;

		span {
			font-weight: 400;
		}

		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(35 / 26);
		}
		@media screen and (max-width: 1200px) {
			margin-bottom: 9px;
		}
		@media screen and (max-width: 860px) {
			margin: 0;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 14px;
		}
	}

	&__btn {
		&::before {
			width: 15px;
			height: 15px;
			background: url(../img/icons/setting-wh.svg) no-repeat center/cover;
		}
	}
}